p{
    margin: 0;
}

.fRight{
    float: right;
}
.fLeft{
    float: left;
}

#vip_detail .bar.bar-header{
    background-color: #07274A!important;
    background-image: none!important;
    border:none
}
#vip_detail .bar-light .button.button-icon{
    color: #fff;
}

#vip_detail .title span{
    font-size: 16px;
    color: rgba(255, 255, 255, .65);
}
#vip_detail .title span:first-child{
    margin-right: 8%;
}
#vip_detail .title span.active{
    color: #fff;
    position: relative;
}
#vip_detail .title span.active::after{
    content: '';
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 26px;
    height: 2px;
    background: white;
}

#vip_detail .page-content{
    background-color: #f5f5f9!important;
}

/* vip等级 */
.vip_level_top{
    height: 17.38rem;
    width: 100%;
    position: relative;
    background-color: #04203f;
}

.ProgressSVG{
    width: 80vw;
    position: absolute;
    left: 16vw;
    top: 10px;
}

.vip_infor{
    width: 11.8rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 0.6rem;
    position: relative;
    padding-bottom: 0.4rem;
}

.vip_head{
    width: 100%;
    height: 3.6rem;
    margin-top: 1.8rem;
    position: relative;
}
.vip_head img{
    width: 5.69rem;
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translateX(-50%);
}
.vip_head div{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 2px solid #fff;
}

.vip_level_img{
    margin-top: -6px;
}
.vip_level_img img{
    width: 1.56rem;
}

.vip_infor p{
    color: #6d95e3;
    font-size: 0.6rem;
    margin-top: -6px;
}
.vip_infor p span{
    width: 100%;
    display: block;
    line-height: 0.8rem;
}

.vip_txt{
    width: 80vw;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -15vw;
}
.vip_txt span{
    color: #e7d3a5;
    font-size: 0.6rem;
}
.vip_txt span:first-child{
    float: left;
}
.vip_txt span:last-child{
    float: right;
}

.vip_card{
    opacity: 0;
}
.vip_card .slider-item {
    width: 84%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
    align-items: normal;
    justify-content: normal;
    display: block;
    text-align: left;
    background-image: url(../img/vip/vip-0@2x.png);
}

.vip_card .slider-item.active:nth-child(2){
    background-image: url(../img/vip/vip-leave-bg-1.png);
}
.vip_card .slider-item.active:nth-child(3){
    background-image: url(../img/vip/vip-leave-bg-2.png);
}
.vip_card .slider-item.active:nth-child(4){
    background-image: url(../img/vip/vip-leave-bg-3.png);
}
.vip_card .slider-item.active:nth-child(5){
    background-image: url(../img/vip/vip-leave-bg-4.png);
}
.vip_card .slider-item.active:nth-child(6){
    background-image: url(../img/vip/vip-leave-bg-5.png);
}
.vip_card .slider-item.active:nth-child(7){
    background-image: url(../img/vip/vip-leave-bg-6.png);
}
.vip_card .slider-item.active:nth-child(8){
    background-image: url(../img/vip/vip-leave-bg-7.png);
}
.vip_card .slider-item.active:nth-child(9){
    background-image: url(../img/vip/vip-leave-bg-8.png);
}
.vip_card .slider-item.active:nth-child(10){
    background-image: url(../img/vip/vip-leave-bg-9.png);
}
.vip_card .slider-item.active:nth-child(11){
    background-image: url(../img/vip/vip-leave-bg-10.png);
}



.current{
    width: 19%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: block;
    font-size: 12px;
    color: #000;
}
.current img{
    width: 100%;
}

.vip_card .txt{
    padding-left: 11%;
    padding-top: 2px;
}
.vip_card .txt h3{
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 6px;
}
.vip_card .txt p{
    font-size: 0.6rem;
    color: rgba(0, 0, 0, .5);
    line-height: 0.96rem;
}
.vip_card .txt p span{
    color: #fff;
}

.vip_card .tips{
    padding-left: 11%;
    margin-top: 10%;
}
.vip_card .tips span{
    font-size: 0.6rem;
    line-height: 0.96rem;
    display: block;
    color: rgba(0, 0, 0, .5);
}
.vip_card .tips span i{
    color: rgba(255, 255, 255, .9);
}

.vip_card .sxj{
    position: absolute;
    width: 16px;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    background: url(../img/current_sxj.png) no-repeat;
}

.vip_level_bot{
    display: none;
}
.vip_level_bot.is_my_vip{
    display: block;
}
.vip_main{
    padding: 16px 0;
    background-color: #fff;
    margin-bottom: 8px;
}
.vip_main h4{
    font-size: 17px;
    padding-left: 4%;
    line-height: 20px;
    margin: 0;
}
.vip_main h4 img{
    height: 16px;
    margin-top: 4px;
    margin-right: 5px;
    vertical-align: text-top;
}
.vip_main .button{
    width: 26%;
    height: 28px;
    min-height: 28px;
    line-height: 28px;
    font-size: 0.8rem;
    padding: 0;
    float: right;
    margin-right: 4%;
    margin-top: -4px;
    border-radius: 25px;
}

.privilege_list{
    width: 88%;
    margin: 0 auto;
    margin-top: 1%;
}
.privilege_list ul li{
    width: 50%;
    height: 50px;
    float: left;
    margin-top: 5%;
}
.privilege_list ul li > div{
    height: 50px;
    width: 96%;
    border-bottom: 1px #ebedf0 solid;
    position: relative;
}
.privilege_list ul li:nth-child(5),
.privilege_list ul li:nth-child(6),
.privilege_list ul li:nth-child(7),
.privilege_list ul li:nth-child(8),
.privilege_list ul li:nth-child(5) > div,
.privilege_list ul li:nth-child(6) > div,
.privilege_list ul li:nth-child(7) > div,
.privilege_list ul li:nth-child(8) > div{
    height: 66px;
}
.privilege_list ul li:last-child > div::after{
    width: 0;
}
.privilege_list ul li i{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 2%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.privilege_list ul li i.icon-cishu{
    background-image: url(../img/vip/cishu.png);
}
.privilege_list ul li p{
    float: left;
}
.privilege_list ul li p span{
    width: 100%;
    display: block;
    margin-bottom: 2%;
}
.privilege_list ul li p span:first-child{
    color: #555555;
    font-size: 1rem;
    font-weight: bold;
}
.privilege_list ul li p span:nth-child(2),
.privilege_list ul li p span:last-child{
    font-size: 0.8rem;
    color: #697b8c;
    line-height: 1rem;
}
.privilege_list ul li em{
    font-weight: bold;
    color: #000;
}

.vip_detail_list{
    width: 88%;
    margin: 0 auto;
    margin-top: 1%;
}
.vip_detail_list ul li{
    width: 33.3%;
    height: 94px;
    float: left;
    text-align: center;
    padding: 5%;
    position: relative;
}
.vip_detail_list ul li:nth-child(3n+3){
    border-right: 0;
}
.vip_detail_list ul li span{
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.vip_detail_list ul li p{
    color: #8E8E8E;
}
.vip_detail_list ul li:nth-child(3n+1)::after,
.vip_detail_list ul li:nth-child(3n+2)::after{
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    width: 1px;
    height: 42px;
    background: #EFEFEF;
}
.vip_detail_list ul li::before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 72%;
    height: 1px;
    background: #EFEFEF;
}


/* vip详情 */
.vip_detail{
    height: 100%;
}
.vip_detail .banner{
    width: 100%;
    height: 30%;
    background-image: url(../img/vip/xiangqing@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.vip_detail .banner img{
    width: 100%;
}

.vip_level_list{
    padding: 10px 4px 0 4px;
}
.vip_level_list ul li{
    width: 24%;
    height: 33px;
    float: left;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 1.2%;
    margin-bottom: 10px;
}
.vip_level_list ul li:nth-child(4n + 4){
    margin-right: 0;
}
.vip_level_list ul li span{
    float: left;
    line-height: 33px;
    font-size: 0.6rem;
    color: #9aa7b5;
}

.vip_level_list ul li .img{
    width: 33px;
    height: 33px;
    float: left;
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: center;
}
.vip_level_list ul li .img{
    background-image: url(../img/vip/vip_1.png);
}

.vip_level_list ul li .img.active{
    background-image: url(../img/vip/vip-1.png);
}

.vip_detail_bot{
    background-color: #fff;
    padding: 10px 0;
}

.vip_level_bg{
    width: 84%;
    height: 9.6875rem;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 2px 4px #cccccc;
}
.vip_level_bg .txt{
    padding-left: 11%;
    padding-top: 2px;
}
.vip_level_bg .txt h3{
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
}
.vip_level_bg .txt p{
    color: #fff;
    font-size: 0.6rem;
    margin-bottom: 1%;
}
.vip_level_bg .txt span{
    float: left;
    display: block;
}
.vip_level_bg .txt span.left{
    width: 46%;
}
.vip-1{
    background-image: url(../img/vip/vip-1_bg.png);
}
.vip-2{
    background-image: url(../img/vip/vip-2_bg.png);
}
.vip-3{
    background-image: url(../img/vip/vip-3_bg.png);
}
.vip-4{
    background-image: url(../img/vip/vip-4_bg.png);
}
.vip-5{
    background-image: url(../img/vip/vip-5_bg.png);
}
.vip-6{
    background-image: url(../img/vip/vip-6_bg.png);
}
.vip-7{
    background-image: url(../img/vip/vip-7_bg.png);
}
.vip-8{
    background-image: url(../img/vip/vip-8_bg.png);
}
.vip-9{
    background-image: url(../img/vip/vip-9_bg.png);
}
.vip-10{
    background-image: url(../img/vip/vip-10_bg.png);
}


.vip_bonus{
    padding-top: 10px ;
    width: 90%;
    margin: 0 auto;
}
.vip_bonus > div{
    width: 49%;
    height: 78px;
    float: left;
    background: rgba(107, 183, 238, .04);
    font-size: 0.6rem;
    border-radius: 5px;
    padding: 3% 5%;
    color: rgba(0, 0, 0, .85);
}
.vip_bonus > div p{
    line-height: 1rem;
}
.vip_bonus > div i{
    color: #9aa7b5;
    margin-top: 2px;
    display: block;
}
.vip_bonus .right{
    float: right;
}
.vip_bonus .right span{
    float: right;
}

.vip_birthday{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    background: rgba(107, 183, 238, .04);
    border-radius: 5px;
    padding: 10px 5%;
    position: relative;
}
.vip_birthday p{
    width: 100%;
    color: rgba(0, 0, 0, .85);
    float: left;
    font-weight: bold;
}
.vip_birthday i{
    width: 100%;
    display: block;
    font-size: 0.7rem;
    color: #777;
}
.vip_birthday button{
    border: none;
    width: 80px;
    height: 24px;
    border-radius: 25px;
    float: right;
    font-size: 0.8rem;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.vip_beat{
    width: 90%;
    height: 48px;
    margin: 0 auto;
    margin-top: 2%;
    background: rgba(107, 183, 238, .04);
    border-radius: 5px;
    padding: 0 5%;
    line-height: 48px;
}
.vip_beat p{
    color: rgba(0, 0, 0, .85);
    float: left;
    font-weight: bold;
}
.vip_beat button{
    border: none;
    width: 80px;
    height: 24px;
    border-radius: 25px;
    float: right;
    font-size: 0.8rem;
    margin-top: 12px;
    background-size: contain;
}

.vip_discount{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    height: 100%;
}
.vip_discount > div{
    width: 49%;
    height: 160px;
    float: left;
    background: rgba(107, 183, 238, .04);
    font-size: 0.6rem;
    border-radius: 5px;
    padding: 3% 5%;
    color: rgba(0, 0, 0, .85);
}
.vip_discount > div.left{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.vip_discount > div.right{
    float: right;
}
.vip_discount > div p{
    margin-bottom: 4px;
}
.vip_discount > div p:last-child{
    margin-bottom: 0;
}
.vip_discount > div span{
    float: right;
}
.vip_discount > div i{
    color: #9aa7b5;
    line-height: 0.6rem;
}

.receive_bonus{
    width: 90%;
    margin: 0 auto;
    padding: 2% 4%;
}
.receive_bonus ul li{
    width: 50%;
    line-height: 30px;
    float: left;
    color: #777;
}

.vip_give{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    background: rgba(107, 183, 238, .04);
    border-radius: 5px;
    padding: 16px 5%;
}
.vip_give .left{
    float: left;
}
.vip_give h5{
    font-weight: bold;
    margin: 0;
}
.vip_give span{
    font-size: 0.6rem;
    color: #98a5b3;
}
.vip_give .right{
    float: right;
    width: 80px;
}
.vip_give button{
    float: right;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
    padding: 0 4%;
    width: 80px;
    height: 24px;
    background-size: contain;
}
.vip_give button:last-child{
    margin-top: 8px;
}

.fill_add{
    width: 100%;
    background-color: #fff;
}
.fill_add_info{
    padding: 6% 3% 0 3%;
}
.fill_add_info p{
    font-weight: bold;
    margin-bottom: 6px;
}
.fill_add_from dl{
    display: flex;
    margin-bottom: 10px;
}
.fill_add_from dt{
    width: 26%;
    height: 40px;
    line-height: 40px;
    padding-right: 2%;
    text-align: right;
    font-weight: normal;
}
.fill_add_from dl dd{
    width: 70%;
}
.fill_add_from dl:first-child dd input,
.fill_add_from dl:nth-child(2) dd input{
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    padding-left: 4%;
}
.fill_add_from dl:nth-child(3) dd input,
.fill_add_from dl:nth-child(4) dd input{
    width: 90%;
    height: 40px;
    border: 1px solid #cccccc;
    padding-left: 4%;
}
.fill_add_from dl:last-child input{
    width: 39.5%;
    height: 40px;
    border: 1px solid #cccccc;
    padding-left: 4%;
}
.fill_add_from dl:last-child span{
    padding: 1%;
}
.fill_add_from textarea{
    width: 100%;
    border: 1px solid #cccccc;
    height: 60px;
    padding-left: 4%;
}
.fill_add_info .button{
    width: 100%;
    margin-bottom: 4%;
    background-size: contain;
}


.vip_tabel{
    width: 100%;
    background: #fff;
    margin-top: 14px;
}
.vip_tabel_tab ul li{
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #697b8c;
    text-align: center;
}
.vip_tabel_tab ul li.active span{
    display: inline-block;
    height: 40px;
    border-bottom: 2px solid;
}

.vip_tabel_top{
    width: 100%;
    height: 48px;
    background-size: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(rgba(7, 226, 255, 0)), to(rgba(3, 193, 253, .09)));
    background: -webkit-linear-gradient(left, rgba(7, 226, 255, 0), rgba(3, 193, 253, .09));
    background: linear-gradient(to right, rgba(7, 226, 255, 0), rgba(3, 193, 253, .09));
}
.vip_tabel_top img{
    margin-right: 2%;
}
.vip_tabel_top span{
    color: rgba(0, 0, 0, .85);
}

.vip_tabel table{
    width: 100%;
    font-size: 0.6rem;
    border-top: 1px #f4f2f5 solid;
}
.vip_tabel table thead{
    width: 100%;
}
.vip_tabel th,
.vip_tabel td{
    width: 10%;
    text-align: center;
    border-bottom: 1px #f4f2f5 solid;
}
.vip_tabel tbody tr:last-child td{
    border-bottom: 0;
}
.vip_tabel th{
    padding: 4px 0;
}
.vip_tabel td{
    line-height: 45px;
}
.vip_tabel td:first-child{
    line-height: 20px;
    padding-bottom: 6px;
}

.vip_tabel_box1 th,
.vip_tabel_box1 td{
    border-right: 1px #f4f2f5 solid;
}
.vip_tabel_box1 th:last-child,
.vip_tabel_box1 td:last-child{
    border-right: 0;
}


.vip_rule{
    background-color: #fff;
    margin-top: 14px;
}

.vip_rule_top{
    height: 45px;
    text-align: center;
    border-bottom: 1px solid #f4f2f5;
}
.vip_rule_top h4{
    line-height: 45px;
    font-size: 1rem;
    margin: 0;
    position: relative;
    display: inline-block;
}
.vip_rule_top h4::after{
    content: '';
    width: 4px;
    height: 15px;
    background: #3B83FF;
    position: absolute;
    left: -12px;
    top: 34%;
    transform: skewY(-20deg);
}

.vip_rule_inner{
    width: 92%;
    margin: 0 auto;
    margin-top: 18px;
}
.vip_rule_inner > div{
    margin-bottom: 10px;
}
.vip_rule_inner h5{
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(51, 51, 51, .8);
}
.vip_rule_inner span{
    width: 15px;
    height: 15px;
    background-color: #3B83FF;
    text-align: center;
    line-height: 15px;
    display: block;
    color: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    font-size: 0.6rem;
    font-weight: normal;
}
.vip_rule_inner p{
    padding-left: 23px;
    color: #98a5b3;
    font-size: 0.6rem;
}
.vip_rule_inner .remarks{
    margin-top: 10px;
}

.back_top_bg{
    padding: 10px 0;
    background-color: #fff;
}
.back_top{
    width: 105px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.back_top a{
    display: block;
}
.back_top p{
    color: #98a7b5;
    margin-top: -6px;
}


@media screen and (min-width: 320px) and (max-width: 330px){
    .vip_txt{
        width: 83vw;
        margin-left: -17vw;
    }

    .vip_card .tips {
        margin-top: 8%;
    }
    .privilege_list ul li i{
        width: 26px;
        height: 26px;
    }
    .privilege_list ul li:last-child p span:first-child{
        font-size: 0.6rem;
    }
    .privilege_list ul li:nth-child(2n + 1) > div::after{
        right: -11%;
    }

    .vip_level_list ul li{
        height: 28px;
    }
    .vip_level_list ul li .img{
        width: 26px;
        height: 26px;
    }
    .vip_level_list ul li span{
        line-height: 26px;
    }

    .vip_level_bg .txt h3{
        margin: 2% 0;
    }
    .vip_level_bg .txt p{
        margin-bottom: 0;
    }

    .privilege_list ul li > div.fLeft{
        width: 104%;
    }
    .privilege_list ul li > div.fRight{
        width: 90%;
    }
}

@media screen and (min-width: 331px) and (max-width: 340px){
    .vip_card .tips {
        padding-left: 2%;
        margin-top: 9%;
    }

    .vip_level_bg .txt h3{
        margin: 2% 0;
    }
    .vip_level_bg .txt p{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 341px) and (max-width: 360px){
    .vip_level_top{
        height: 18.8rem;
    }
    .ProgressSVG {
        width: 74vw;
        left: 19vw;
    }
    .vip_txt{
        width: 78vw;
        bottom: 2px;
        margin-left: -17vw;
    }
    .vip_card .tips{
        margin-top: 12%;
    }

    .vip_level_bg .txt h3{
        margin: 2% 0;
    }
    .vip_level_bg .txt p{
        margin-bottom: 0;
    }

}

@media screen and (min-width: 400px) and (max-width: 420px){
    .vip_card .tips{
        margin-top: 10%;
    }
    
    .vip_txt{
        width: 78vw;
    }
}
